.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
  list-style: none;
  border-bottom: 1px solid var(--color-light_grayish_blue);
}

.navbar-logo {
  font-size: 32px;
  font-weight: 700;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 4rem;
  gap: 2rem;
  font-size: 16px;
  color: var(--color-dark_grayish_blue);
}

.navbar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.navbar-cart {
  margin-right: 2rem;
}

.navbar-avatar {
  height: 50px;
}
