.productDetails {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-top: 4rem;
}

.productDetails-company {
  color: var(--color-orange);
  letter-spacing: 2px;
}

.productDetails-name {
  font-size: 40px;
  margin-top: 1rem;
}

.productDetails-paragraph {
  color: var(--color-dark_grayish_blue);
  margin-top: 2rem;
  letter-spacing: 1px;
}

.productDetails-price {
  margin-top: 2rem;
}

.productDetails-price-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.productDetails-price-top p:first-child {
  font-size: 26px;
  font-weight: 700;
}

.productDetails-price-top p:nth-child(2) {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-orange);
  background-color: var(--color-pale_orange);
  border-radius: 8px;
  width: 50px;
  height: 30px;
  padding: 3px 8px;
}

.productDetails-price-original {
  font-size: 16px;
  font-weight: 700;
  text-decoration: line-through;
  color: var(--color-light_grayish_blue);
  margin-top: 0.5rem;
}

.productDetails-checkout {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  margin-top: 2rem;
}

.productDetails-checkout-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  width: 130px;
  height: 40px;
  background-color: var(--color-pale_orange);
  border-radius: 6px;
  padding: 0.5rem;
}

.checkout-minus {
  color: var(--color-orange);
  cursor: pointer;
  margin-right: auto;
}
.checkout-plus {
  color: var(--color-orange);
  cursor: pointer;
  margin-left: auto;
}

.productDetails-checkout button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 40px;
  gap: 0.5rem;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-white);
  background-color: var(--color-orange);
  border-radius: 6px;
  border-style: none;
  cursor: pointer;
}
