:root {
  --color-dark_blue: hsl(220, 13%, 13%);
  --color-dark_grayish_blue: hsl(219, 9%, 45%);
  --color-light_grayish_blue: hsl(220, 14%, 75%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
}
